@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat',sans-serif;
  margin: 0;
  background: linear-gradient(270deg,#c0bef8,#f7bec5);
  background-size: 600% 600%;
  animation: gradient 30s ease infinite;
  @keyframes gradient {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.wrapper {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.header, .center, .footer {
  display: flex;
  flex-direction: row;
}

.header, .footer {
  flex: 1;
  align-items: center;
}

.header {
  border-bottom: solid;
  padding: 10px 2ch;
}

.center {
  flex: 8;
}

#org-header {
  flex: none;
  display: block;
  align-items: center;
  #org-logo {
    img {
      height: 16vh;
      max-height: 230px;
    }
  }
}

#time, #weather {
  text-align: center;
  flex: 1;
  font-size: 65px;
  p {
    margin: 0;
  }
  span {
    margin: 0 10px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  padding: 0 2ch;
  justify-content: space-evenly;
  border-right: solid;
  p {
    margin: 0;
  }
}

.main {
  flex: 3;
}

#events {
  font-size: 40px;
  padding: 0 2ch;
  h2 {
    margin: 0;
  }
  p {
    margin: 10px 0 0 0;    
    display: grid;
    li {
      display: grid;
      grid-template: "summary timeStart"
                     "location timeEnd";
      padding-bottom: 1em;
      .summary {
				grid-area: summary;
      }
			.location {
				grid-area: location;
      }
			.timeStart {
				grid-area: timeStart;
      }
			.timeEnd {
				grid-area: timeEnd;
      }
      .timeStart, .timeEnd {
        text-align: right;
      }
    }
  }
}

#org-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: .5em 0;
  border-top: solid;
  img {
    height: 10vh;
  }
  span {
    img {
      filter: grayscale(100);
      opacity: 0.5;
      transition: opacity 1s;
      transition: filter 1s;
    }
  }
  .active {
    img {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

#noEvents {
  display: none;
  text-align: center;
  img {
    height: 50vh;
    width: auto;
  }
}